@model BookStoreMVC.ViewModels.BookDetails

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Book</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Book.Title)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Book.Title)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Book.NumPages)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Book.NumPages)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Book.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Book.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Book.Publisher)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Book.Publisher)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Book.FrontPage)
        </dt>
        <dd class = "col-sm-10">
            <img src="~/images/@Html.DisplayFor(model => model.Book.FrontPage)" height="500px" width="300px" />
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Book.DownloadUrl)
        </dt>
        <dd class = "col-sm-10">
            @if (User.Identity.IsAuthenticated && User.IsInRole("Admin") || Model.Purchesed == "Yes")
            {
                <a href="~/pdfs/@Html.DisplayFor(model => model.Book.DownloadUrl)">Download</a>
            }
            else
            {
                <p>You don't have access to the link</p>
            }
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Book.Author)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Book.Author.FullName)
        </dd>
        <dt class="col-sm-2">
            <p>Reviews:</p>
        </dt>
        <dd class="col-sm-10">
            @if (Model.Reviews.Any())
            {
                @foreach(var review in Model.Reviews)
                {
                    @if(review.AppUser == ViewBag.Email)
                    {
                        <p>@review.AppUser : @review.Comment Rating: @review.Rating 
                        <a asp-controller="Reviews" asp-action="Edit" asp-route-id="@review.Id">Edit</a> |
                        <a asp-controller="Reviews" asp-action="Delete" asp-route-id="@review.Id"> Delete</a>
                        </p>
                    }else{
                        <p>@review.AppUser : @review.Comment Rating: @review.Rating </p>
                    }
                }
            }
        </dd>
    </dl>
</div>
<div>
@if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
{
    <p><a asp-action="Edit" asp-route-id="@Model?.Book.Id">Edit</a>|</p>
}
@if (Model.Purchesed == "Yes")
{
    <a asp-controller="Reviews" asp-action="Create" asp-route-id="@Model?.Book.Id">Add review</a> 
}
    | <a asp-action="Index">Back to List</a>
</div>
